<div class="detail-header"><i class="fa fa-close close-modal"></i>
  <div class="title-detail"><i class="fa fa-envelope-open"></i>
    <textarea>{{title}}</textarea>
    <div class="detail-list-info">
      <p class="move-list-action">In list: {{list_title}}</p>
      {{#if_equal subscribed true}}
      <i class="fa fa-eye"></i>
      {{/if_equal}}
    </div>
    <div class="card-labels">
      {{#each labels}}
      <div class="card-label-box {{color}}"></div>
      {{/each}}
    </div>
    {{#if dueDate}}
    <div class="due-date">
      <i class="fa fa-calendar"></i>
      <p>{{format_date dueDate}}</p>
      <a class="remove-date">Remove</a>
    </div>
    {{/if}}
  </div>
</div>
<div class="detail-main">
  <div class="label-due"></div>
  <div class="description">
    <h4>description</h4><a class="edit-description" href="#">edit</a>
    <p>{{description}}</p>
    <form class="open-description">
      <textarea>{{description}}</textarea>
      <div>
        <input type="submit" value="Save"/><i class="fa fa-close description-close"></i>
      </div>
    </form>
  </div>
  <div class="comments">
    <h3>Add Comment<i class="fa fa-comment-o"></i></h3>
    <form class="add-comment">
      <textarea></textarea>
      <input type="submit" class="add-comment" value="Send"/>
    </form>
  </div>
  <div class="activity">
    <h3>Activity<i class="fa fa-newspaper-o"></i></h3>
    <ul class="activities">
      {{#each comments}}
        <li class="activity">
          <p class="comment-desc">{{text}}</p>
          <p class="timestamp">{{format_timestamp timestamp}}<a class="delete-comment">delete</a></p>
        </li>
      {{/each}}
      </li>
    </ul>
  </div>
</div>
<div class="detail-sidebar">
  <div class="add-options">
    <h3>Add</h3>
    <a class="menu-button labels">Labels<i class="fa fa-tag"></i></a>
    <div id="pick-date">
      <input type="hidden" id="datepicker">
      <i class="fa fa-calendar"></i>
    </div>
    </a>
    <h3>Actions</h3>
    <a class="menu-button move-list-action">Move<i class="fa fa-arrow-right"></i></a>
    <a class="menu-button copy">Copy<i class="fa fa-clone"></i></a>
    <a class="menu-button subscribe">Subscribe
      <i class="fa fa-eye"></i>
      {{#if_equal subscribed true}}
      <i class="fa fa-check"></i>
      {{/if_equal}}
    </a>
    <a class="archive menu-button">Archive<i class="fa fa-trash"></i></a>
  </div>
</div>
