<i class="fa fa-close"></i>
<p>Copy Card</p>
<hr>
<form>
  <p>Copy to...</p>
  <div class="select-div">
    <span class="label">Board</span>
    <span class="value">My Board</span>
    <select></select>
  </div>
  <div class="select-div list-select">
    <span class="label">List</span>
    <span class="value">{{listTitle}}</span>
    <select id="select-list" name="listId">
      <option value="{{id}}">{{listTitle}}</option>
      {{#each lists}}
      <option value="{{id}}">{{title}}</option>
      {{/each}}
    </select>
  </div>
  <div class="select-div position-select">
    <span class="label">Position</span>
    <span class="value">0</span>
    <select id="select-position" name="position">
      <option value="{{position}}">{{position}}</options>
    {{#times 0 positions}}
      <option value="{{this}}">{{this}}</option>
    {{/times}}
    </select>
  </div>
  <div id="copy-card-title">
    <p>Title</p>
    <textarea></textarea>
    <input id="submit-move" type="submit" value="Create Card">
  </div>
</form>
