<h3>Notifications</h3>
<i class="fa fa-close"></i>
<hr>
<ul>
  {{#each notifications}}
    {{#if comment}}
      <li>
        <a href="/{{href}}"><span>{{title}}</span> was commented on</a>
      </li>
    {{/if}}
    {{#if setDueDate}}
      <li>
        <a href="/{{href}}">A due date of {{format_date date}} was set for <span>{{title}}</span></a>
      </li>
    {{/if}}
    {{#if removeDueDate}}
      <li>
        <a href="{{href}}">The due date for <span>{{title}}</span> was removed</a>
      </li>
    {{/if}}
    {{#if cardMove}}
      <li>
        <a href="{{href}}"><span>{{title}}</span> was moved from <span>{{from}}</span> to <span>{{to}}</span></a>
      </li>
    {{/if}}
  {{/each}}
