<h3>Notifications</h3>
<i class="fa fa-close"></i>
<hr>
<ul>
  {{#if notifications}}
  {{#each notifications}}
    {{#if_equal type 'comment'}}
      <li>
        <a href="/card/{{cardId}}"><span>{{title}}</span> was commented on</a>
      </li>
    {{/if_equal}}
    {{#if_equal type 'setDueDate'}}
      <li>
        <a href="/card/{{cardId}}">A due date of {{format_date date}} was set for <span>{{title}}</span></a>
      </li>
    {{/if_equal}}
    {{#if_equal type 'removeDueDate'}}
      <li>
        <a href="/card/{{cardId}}">The due date for <span>{{title}}</span> was removed</a>
      </li>
    {{/if_equal}}
    {{#if_equal type 'cardMove'}}
      <li>
        <a href="/card/{{cardId}}"><span>{{title}}</span> was moved from <span>{{from}}</span> to <span>{{to}}</span></a>
      </li>
    {{/if_equal}}
  {{/each}}
  {{else}}
  <p>No new notifications</p>
  {{/if}}
