<h3>Cards</h3>
{{#if cards}}
{{#each cards}}
<div class="search-result">
  <a href="/card/{{id}}">
    <div class="search-preview">
      <p>{{title}}</p>
    </div>
  </a>
  <div class="search-description">
    <p>{{title}}</p>
    <p>In list: <span>{{listTitle}}</span> on My Board</p>
  </div>
</div>
{{/each}}
{{else}}
<p>No cards found...</p>
{{/if}}